* {
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.form {
    padding: 20px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.delay-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.delay-label input {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #808080;
    color: #2E2F42;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.64px;
    height: 22px;
    outline: none;
}

.delay-label input:hover,
.delay-label input:focus-visible {
    border-color: #000;
    outline: none;
}

.delay-label input:focus,
.delay-label input:active {
    border-color: #4E75FF;
    color: #000;
}

fieldset {
    border: 1px solid #808080;
    display: flex;
    justify-content: center;
    padding: 0px 28px 8px 28px;
    gap: 48px;
}

fieldset:hover {
    border-color: #000;
}

legend {
    margin-bottom: 11px;
}

label:not(.delay-label) {
    display: flex;
    gap: 8px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

label input[type=radio] {
    margin: 0;
    width: 16px;
    height: 16px;
    accent-color: #4E75FF;
}

button {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #4E75FF;
    color: #FFF;
    font-weight: 500;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover:not(:disabled) {
    background-color: #6C8CFF;
}